<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-inventory-heading" jhiTranslate="bookingApp.inventory.home.createOrEditLabel">Create or edit a Inventory</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.purchaseDate" for="field_purchaseDate">Purchase Date</label>
                    <input type="number" class="form-control" name="purchaseDate" id="field_purchaseDate"
                           formControlName="purchaseDate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.itemdescription" for="field_itemdescription">Itemdescription</label>
                    <input type="text" class="form-control" name="itemdescription" id="field_itemdescription"
                           formControlName="itemdescription"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.available" for="field_available">Available</label>
                    <input type="number" class="form-control" name="available" id="field_available"
                           formControlName="available"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.itemcat" for="field_itemcat">Itemcat</label>
                    <input type="text" class="form-control" name="itemcat" id="field_itemcat"
                           formControlName="itemcat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.purchaseAmount" for="field_purchaseAmount">Purchase Amount</label>
                    <input type="number" class="form-control" name="purchaseAmount" id="field_purchaseAmount"
                           formControlName="purchaseAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.purpose" for="field_purpose">Purpose</label>
                    <input type="text" class="form-control" name="purpose" id="field_purpose"
                           formControlName="purpose"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.updatedDate" for="field_updatedDate">Updated Date</label>
                    <div class="d-flex">
                        <input id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate" formControlName="updatedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.createdBy" for="field_createdBy">Created By</label>
                    <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="number" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.inventory.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
