<div>
    <h2 id="page-heading">
        <span jhiTranslate="bookingApp.inventory.home.title">Inventories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inventory" [routerLink]="['/inventory/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bookingApp.inventory.home.createLabel">
            Create a new Inventory
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="inventories?.length === 0">
        <span jhiTranslate="bookingApp.inventory.home.notFound">No inventories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inventories && inventories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="purchaseDate"><span jhiTranslate="bookingApp.inventory.purchaseDate">Purchase Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="itemdescription"><span jhiTranslate="bookingApp.inventory.itemdescription">Itemdescription</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="bookingApp.inventory.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="available"><span jhiTranslate="bookingApp.inventory.available">Available</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="itemcat"><span jhiTranslate="bookingApp.inventory.itemcat">Itemcat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="purchaseAmount"><span jhiTranslate="bookingApp.inventory.purchaseAmount">Purchase Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="purpose"><span jhiTranslate="bookingApp.inventory.purpose">Purpose</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="bookingApp.inventory.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedDate"><span jhiTranslate="bookingApp.inventory.updatedDate">Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="bookingApp.inventory.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedBy"><span jhiTranslate="bookingApp.inventory.updatedBy">Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="bookingApp.inventory.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventory of inventories ;trackBy: trackId">
                    <td><a [routerLink]="['/inventory', inventory.id, 'view']">{{ inventory.id }}</a></td>
                    <td>{{ inventory.purchaseDate }}</td>
                    <td>{{ inventory.itemdescription }}</td>
                    <td>{{ inventory.quantity }}</td>
                    <td>{{ inventory.available }}</td>
                    <td>{{ inventory.itemcat }}</td>
                    <td>{{ inventory.purchaseAmount }}</td>
                    <td>{{ inventory.purpose }}</td>
                    <td>{{ inventory.createdDate | date:'medium' }}</td>
                    <td>{{ inventory.updatedDate | date:'medium' }}</td>
                    <td>{{ inventory.createdBy }}</td>
                    <td>{{ inventory.updatedBy }}</td>
                    <td>
                        {{ inventory.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/inventory', inventory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/inventory', inventory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inventory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="inventories && inventories.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
