<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-file-meta-heading" jhiTranslate="bookingApp.fileMeta.home.createOrEditLabel">Create or edit a File Meta</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.size" for="field_size">Size</label>
                    <input type="number" class="form-control" name="size" id="field_size"
                           formControlName="size"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.path" for="field_path">Path</label>
                    <input type="text" class="form-control" name="path" id="field_path"
                           formControlName="path"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.updatedDate" for="field_updatedDate">Updated Date</label>
                    <div class="d-flex">
                        <input id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate" formControlName="updatedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.createdBy" for="field_createdBy">Created By</label>
                    <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.updatedBy" for="field_updatedBy">Updated By</label>
                    <input type="number" class="form-control" name="updatedBy" id="field_updatedBy"
                           formControlName="updatedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.booking" for="field_booking">Booking</label>
                    <select class="form-control" id="field_booking" name="booking" formControlName="booking">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bookingOption.id === editForm.get('booking')!.value?.id ? editForm.get('booking')!.value : bookingOption" *ngFor="let bookingOption of bookings; trackBy: trackById">{{ bookingOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerInfoOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerInfoOption" *ngFor="let customerInfoOption of customerinfos; trackBy: trackById">{{ customerInfoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.employee" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" formControlName="employee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeInfoOption.id === editForm.get('employee')!.value?.id ? editForm.get('employee')!.value : employeeInfoOption" *ngFor="let employeeInfoOption of employeeinfos; trackBy: trackById">{{ employeeInfoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bookingApp.fileMeta.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
